.poetrycontainer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    height: calc(100vh - 73px);
    overflow: hidden;
}

.poemslist {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.poemscontainer {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    
}

.poemview {
    flex: 1;
    overflow-y: auto;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.filters label {
    display: block;
}

.filters input,
.filters select {
    width: 100%;
}

.filters button {
    width: 50%;
}

.filters button, .filters select {
    cursor: pointer;
}

.filters .compactgroup {
    display: flex;
    gap: 5px;
    align-items: center;
}

.filters .compactgroup input {
    flex: 1;
}

.filters .compactgroup select {
    flex: 1;
}