body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(251, 246, 222);
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.headline {
    background-color: #615e53;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
}

.headline a {
    color: rgb(251, 246, 222);
    text-decoration: none;
}

.headline a:hover {
    color: rgb(185, 181, 161);
    text-decoration: none;
}

.headline hr, .copyright hr {
    border: none;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    background-color: #4F4D46;
    color: rgb(251, 246, 222);
    flex-shrink: 0;
    text-align: right;
}

.writebutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    font-size: 18px;
}

.gap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.itemscontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemcard {
    cursor: pointer;
}