body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.headline {
    flex-shrink: 0;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    flex-shrink: 0;
    text-align: right;
}

.writebutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.gap {
    gap: 10px;
}

.itemscontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemcard {
    cursor: pointer;
}